<h2>Create a New Movie :)</h2><br>

<%= image_tag("2018_best_movies.jpg", :alt => "2018 BEST movies", :class => "style_image") %>

<%= render 'form', movie: @movie %><br>

<%= link_to 'Back', movies_path %>
